.master-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d2939;
  border-radius: 10px;
}

.master-list li {
  float: left;
}

.master-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.master-list li a:hover {
  background-color: #d41871 !important;
}

.master-list li.active {
  background-color: #d41871 !important;
}

.add-cabin {
  float: right;
  margin: 0% 0% 1% 0%;
}

.update-devise {
  margin: 3% 0 0 39%;
}

.update-employee {
  margin: 2% 0 0 40%;
}

.role-select-box {
  width: 204px;
  height: 32px;
}

.ReactModal__Overlay {
  z-index: 1000;
}

li {
  list-style-type: none !important;
}

.access-list {
  margin: 2% 0 0 0;
}

.role-management-select-box {
  margin: 0 0 0 4%;
  height: 29px;
  font-size: 15px;
}

.set-permissions {
  margin: 0 0 0 4%;
}

.hide {
  display: none;
}

/* css for login out button */

.logout100-form-btn {
  font-family: Ubuntu-Bold;
  font-size: 11px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  min-width: 80px;
  height: 30px;
  border-radius: 21px;
  background: #d41872;
  background: linear-gradient(left, #a445b2, #d41872, #fa4299);
  position: relative;
  z-index: 1;
  transition: all 0.4s;
  margin: 20% 0 0 0;
}

.logout-header {
  margin: 0 0 0 74%;
}

.counts {
  font-weight: bold;
  color: black;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}
