@import "variables.scss";
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css');
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");

.admin-container {
  // background-color: $lightBgColor;
  color: $lightTextColor;
  width: 100%;
  float: left;
  display: flex;
  flex: 1;
  height: 100vh;

  .header {
    background-color: #fff;
    height: 60px;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    .app-name {
      color: #343a40;
      font-size: 24px;
      padding-left: 15px;
      width: 230px;
      // /* justify-content: center; */
      align-items: center;
      display: flex;
      border-right: 1px solid $borderColor;

      .part-1 {
        //color: $primaryColor;
        color: #d41872;
        margin-right: 5px;
        font-weight: 600;
      }
    }
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    z-index: 100;
    height: 100%;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $darkBgColor;

    .heading {
      margin-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: uppercase;
      font-size: 10px;
    }

    ul {
      margin-top: 0;
      margin-bottom: 1rem;
      text-decoration: none;
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        border-radius: 2px;
        overflow: hidden;
        padding: 10px 15px;
        align-items: center;
        display: flex;

        i {
          color: #fff;
          font-size: 17px;
        }

        a {
          color: $lightTextColor;
          font-size: 14px;
          letter-spacing: 0.2px;
          font-size: 0.85rem;
          margin-left: 10px;
        }

        a:hover {
          border: 0;
          text-decoration: none;
        }
      }

      li.active {
        // background-color: $primaryColor;
        background-color: #d41872;

        a {
          color: #fff;
        }
      }
    }
  }

  .app-content {
    padding-top: 80px;
    padding-left: 250px;
    padding-right: 20px;
    width: 100%;

    .app-page {
      margin-top: 20px;
      padding: 15px;
      background-color: #fff;
      width: 100%;
    }
  }
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.master-link {
  margin: -4% 0 0 13%;
}

.submenus {
  font-size: 13px !important;
}

.show {
  margin: -3% 0 0 12%;
}

.update-pass {
  margin: 64% 0 0 0;
  font-size: 21px;
}

.login-form{margin:20px 0 0 0;}
.login-form input[type=password]{
  background: #fff;
  border: none;
  border-radius:8px;
  position: relative;
  font-size:15px !important;
  display: inline-block;
  outline: none;
  width: 100%;
  height: 30px !important;
  padding: 18px 0 18px 20px;
  margin-bottom:15px !important;
  color: #666 !important;
  border: 1px solid grey;
}

.login-form input[type=text]{
  background: #fff;
  border: none;
  border-radius:8px;
  position: relative;
  font-size:15px !important;
  display: inline-block;
  outline: none;
  width: 100%;
  height: 30px !important;
  padding: 18px 0 18px 20px;
  margin-bottom:15px !important;
  color: #666 !important;
  border: 1px solid grey;
}
.login-left{width:44%; margin: 0 0 0 5%; display:inline-block; float:left;}
.login-right{width:44%; margin: 0 5% 0 0; display:inline-block; float:right;}

@media screen and (max-width:767px) {
.login-width{width:95% !important;}
.login-left{width:90%; margin: 0 auto; display:block; float:none;}
.login-right{width:90%; margin: 0 auto; display:block; float:none;}
}

.p-viewer, .p-viewer2{
  float: right;
  margin-top: -55px;
  position: relative;
  z-index: 1;
  cursor:pointer;
}

.fa-eye {
  color: #868ba1;
  margin: 94% 0 0 -71%;
}

select.form-control {
  height: 34px !important;
}

// .react-datetime-picker, .react-datetime-picker *, .react-datetime-picker *:before, .react-datetime-picker *:after {
//   width: 100%;
//   border-radius: 4px;
//   color: #cccccc;
//   height: 34px;
// }

// .react-datetime-picker__wrapper {
//   border: thin solid #cccccc;
// }

.react-datetime-picker {
  border-radius: 4px;
  color: #cccccc;
  width: 100%;
  height: 34px;
}
.react-datetime-picker, .react-datetime-picker *, .react-datetime-picker *:before, .react-datetime-picker *:after {
  border-radius: 4px;
  color: #cccccc;
}

.react-datetime-picker__wrapper {
  border: thin solid #cccccc !important;
}

.react-clock {
  margin: -16% 0 0 0;
}

.custom-viewer {
  margin-top: -43px;
}

.head-container {
  width: 1088px;
}